<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>projet vue js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <div id="app">
      <div class="container">
        <div class="row">
          <p class="jumbotron">
            Login: <input type="text" v-model="user" /> | Vous êtes connecté en
            tant que {{ user }}
          </p>
        </div>
        <h2>Products available:</h2>
        <div class="row">
          <div class="col-3" v-for="product in products">
            <p class="jumbotron text-center">
              {{product}}
              <br />
              <button v-on:click="commander(product)">commander</button>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-3" v-for="commande in commandes">
            <p class="jumbotron">{{commande}}</p>
          </div>
        </div>
      </div>
    </div>

    <script>
      const app = new Vue({
        el: "#app",
        data: {
          user: "Amine",
          products: ["MacBook Pro", "iPad", "Apple Watch SE", "Iphone 11"],
          commandes: [],
        },
        methods: {
          commander: function (product) {
            this.commandes.push(product);
          },
        },
      });
    </script>
  </body>
</html>
